/* External CSS */
/* 
CSS Selector: body - elementet vi vil modifisere
CSS Declaration{} - identifiserer hvor vi skriver koden for modifisering
CSS Rule: background-color: blue; - 'key' på hva skal modifiseres 
og 'value'til hvordan det skal modifiserest
*/

/*GLOBAL*/
img {
    max-width: 300px;
}

/* HEADER*/
.logo {
    /* 'shorthand' metode */
    border: 3px black solid;
    /* Longhand metode
    border-width: 3px;
    border-color: black;
    border-style: solid;
    */
    padding: 10px;
    border-radius: 50%;
}
header {
    display: flex;
    justify-content: space-between;
}

/*MAIN*/

body {
    background-color: cadetblue;
    font-size: 20px;
}
h1 {
    align-items: center;
}
.hero2 {
    display: flex;
    align-items: center;
}
.hero2, .herotekst2 {
    align-items: center;
    justify-content: space-between;
    justify-content: space-around;

}
/*FOOTER*/
footer {
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: rgb(14, 16, 19);
    font-size: larger;
}

/*sm-ing sosial media bilder */
.sm-img {
    justify-content: space-between;
    justify-content: space-around;
    max-width: 50px;
}