/* External CSS */
/* 
CSS Selector: body - elementet vi vil modifisere
CSS Declaration{} - identifiserer hvor vi skriver koden for modifisering
CSS Rule: background-color: blue; - 'key' på hva skal modifiseres 
og 'value'til hvordan det skal modifiserest
*/

/*GLOBAL*/
html {
  scroll-behavior: smooth;
}

img {
    flex-grow: 0;
    max-width: 300px;
}

/* HEADER*/
.logo {
    /* 'shorthand' metode alle samme linje*/
    border-width: 3px;
    border-color: black;
    border-style: solid;
     padding: 10px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0px 100px;
}

header nav a {
  padding: 10px;
}

/*MAIN*/
body {
  background-color: cadetblue;
  font-size: 20px;
}

body a {
  text-decoration: none;
  color: black;
}

.section-om-meg {
  padding-top: 50px;
  padding-right: 100px;
  padding-bottom: 50px;
  padding-left: 100px;
}

.hero {
   display: flex;
   padding: 50px 100px;
}

.hero-text {
  display: flex;
  gap: 40px;
  align-items: center;
}

h1 {
    text-align: center;
    background-color:cadetblue;
    padding: 20px;
    border: 3px solid cadetblue;
}

p{
  font-family: Arial, Helvetica, sans-serif;
}

.section-prosjekter, .section-kontakt {
  padding: 100px 100px;
}

/* style card */

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  padding: 20px;
  text-align: center;
}

.card img {
  height: 200px;
  border-radius: 8px;
}

.card h2 {
  margin-top: 15px;
  font-size: 24px;
  color: #333;
}

.card p {
  font-size: 16px;
  color: #777;
}

.card button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.card button:hover {
  background-color: #0056b3;
}

/*FOOTER*/

/*sm-ing sosial media bilder */
.sm-img {
    justify-content: space-around;
    max-width: 50px;
  }

footer {
  display: flex;
}
h2 {
  text-align: center;
}